<div class="zippy">
  <div class="zippy-heading" [class.expanded]="isExpanded" (click)="onClick()">
    Shipping Details

    <i
      class="fa-solid"
      [ngClass]="{
        'fa-angle-down': !isExpanded,
        'fa-angle-up': isExpanded
      }"
    ></i>
  </div>
  <div *ngIf="isExpanded" class="zippy-body">Shipping Details Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos autem ut, ullam quod illum architecto dicta. Repellendus, ut, cupiditate voluptatem velit neque excepturi magnam magni obcaecati mollitia sunt, porro totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eum, facere vel eveniet animi odit magni, enim, rem atque qui officiis numquam? Sit eos consequatur amet consectetur, nam veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tenetur reiciendis alias mollitia voluptatem! Hic error dolorum reprehenderit doloremque consequuntur commodi. Explicabo, cumque repellendus. Nulla ullam aliquam odio quasi rerum?</div>
</div>
