<div class="container mt-8 w-96 border border-dark ">
    <h1 class="text-center text-black mb-4">REACTIVE FORM</h1>

<form [formGroup]="registerForm"(ngSubmit)="registerForm.valid &&  registerFn()">
    <!--******************* first name and validation ******************-->
<div class="mb-3">
    <label for="name" class="Form-label"> First name</label>
    <input type="text" class="form-control"id="fname" placeholder="first Name" formControlName="fname"[ngClass]="{error:getControl('fname')?.errors  && getControl('fname')?.touched}" >
<div *ngIf="getControl('fname')?.errors && getControl('fname')?.touched">
    <small class="text-danger" *ngIf="getControl('fname')?.errors?.['required']">First name is required. </small>
    <small class="text-danger" *ngIf="getControl('fname')?.errors?.['maxlength']">Only 32 characters are allowed. </small>
    <small class="text-danger" *ngIf="getControl('fname')?.errors?.['minlength']">Minimum 3 characters are required. </small>
</div>
</div>

<!-- ************last name and validation************ -->
<div class="mb-3">
    <label for="lname" class="Form-label"> Last name</label>
    <input type="text" class="form-control"id="lname" placeholder="last Name" formControlName="lname"[ngClass]="{error:getControl('lname')?.errors  && getControl('lname')?.touched}">
    <div *ngIf="getControl('lname')?.errors && getControl('lname')?.touched">
    <small class="text-danger" *ngIf="getControl('lname')?.errors?.['required']">Last name is required. </small>
    <small class="text-danger" *ngIf="getControl('lname')?.errors?.['maxlength']">Only 15 characters are allowed. </small>

</div>

</div>

<!-- ///***************username **************-->

<div class="mb-3">
    <label for="username" class="Form-label"> Username</label>
    <input type="text" class="form-control"id="username" placeholder="username" formControlName="username"[ngClass]="{error:getControl('username')?.errors  && getControl('username')?.touched}">
    <div *ngIf="getControl('username')?.errors && getControl('username')?.touched">
    <small class="text-danger" *ngIf="getControl('username')?.errors?.['required']">username is required. </small>
    <small class="text-danger" *ngIf="getControl('username')?.errors?.['maxlength']">Only 25 characters are allowed. </small>

</div>

</div>








<!--********* mobile and validation************* -->
<div class="mb-3">
    <label for="mobile" class="Form-label"> Mobile</label>
    <input type="text" class="form-control"id="mobile" placeholder="mobile" formControlName="mobile"[ngClass]="{error:getControl('mobile')?.errors  && getControl('mobile')?.touched}">
    <div *ngIf="getControl('mobile')?.errors && getControl('mobile')?.touched">
        <small class="text-danger" *ngIf="getControl('mobile')?.errors?.['required']">Mobile no. is required. </small>
<small class="text-danger" *ngIf="getControl('mobile')?.errors?.['maxlength'] || getControl('mobile')?.errors?.['minlength'] || getControl('mobile')?.errors?.['pattern'] ">Please enter a valid mobile no.</small>
        </div>

</div>
<!-- email and validation************ -->
<div class="mb-3">
    <label for="email" class="Form-label"> Email</label>
    <input type="email" class="form-control"id="email" placeholder="email" formControlName="email" [ngClass]="{error:getControl('email')?.errors  && getControl('email')?.touched}" >
    <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
        <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is required. </small>
        <small class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">Please enter a valid email. </small>
    </div>

</div>

<!-- ******password and validation*************** -->

<div class="mb-3">
    <label for="password" class="Form-label"> Password</label>
    <input type="password" class="form-control"id="password" placeholder="password" formControlName="password" [ngClass]="{error:getControl('password')?.errors  && getControl('password')?.touched}">
    <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
        <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">Password is required. </small>
<small class="text-danger" *ngIf="getControl('password')?.errors?.['maxlength'] || getControl('password')?.errors?.['minlength'] ">Password should be Minimum 8 and Maximum 32 characters long</small>
       
    
    </div>
</div>

<div class="mb-3">
    <label for="confirm_password" class="Form-label"> Confirm Password</label>
    <input type="password" class="form-control"id="confirm_password" placeholder="confirm Password" formControlName="confirm_password"[ngClass]="{error:getControl('confirm_password')?.errors  && getControl('confirm_password')?.touched}">
    <div *ngIf="getControl('confirm_password')?.errors && getControl('confirm_password')?.touched">
     <small class="text-danger" *ngIf="getControl('confirm_password')?.errors?.['required']">Confirm password is required. </small>

    </div>
    <div *ngIf="registerForm.invalid && registerForm.errors?.['passwordMismatchEroor'] && getControl('confirm_password')?.touched">
        <small class="text-danger">Password mismatch</small>
    </div>
</div>

<div class="mb-3 text-center">
    <button
      type="submit"
      class="btn btn-primary bg-primary"  [disabled]="registerForm.status === 'INVALID'" >
      Submit
    </button>
  </div>



</form>

</div>