



<div *ngFor="let follower of followers" class="media">
<div class="media-left">
    <!-- <a href="#"> -->
<img class="avatar media-object" src="{{follower.avatar_url}}">

    <!-- </a> -->
</div>
<div class="midia-body">
    <h4 class="media-heading">{{follower.login }}</h4>
    <a href="follower.html_url">{{follower.html_url}}</a>
</div>

</div>




<!-- 
<div class="w-[32rem] m-auto flex flex-col gap-4 border">
    <h1 class="p-3 text-center">Github Followers</h1>
    <div class="flex flex-col gap-4">
        <div *ngFor="let follower of followers" class="p-3 flex flex-row gap-2 border">
            <img src="{{follower.avatar_url}}" alt="" class="h-16 rounded-full">
            <div class="flex flex-col gap-2">
                <span>{{follower.login}}</span>
                <span>{{follower.html_url}}</span>
            </div>
        </div>
    </div>
  
</div> -->